{% extends "base.html" %}
{% block content %}
<h2>Add New Sites</h2>
<form method="post">
    <div class="form-group">
        <label for="num_sites">Number of sites:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="number" class="form-control" id="num_sites" name="num_sites" required>
    </div>

    <div class="form-group">
        <label for="supervisor_name">Supervisor Name:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="supervisor_name" name="supervisor_name" required>
    </div>

    <div class="form-group">
        <label for="supervisor_contact">Supervisor Contact:&nbsp;</label>
        <input type="text" class="form-control" id="supervisor_contact" name="supervisor_contact" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}
