{% extends "base.html" %}
{% block content %}
<h2>Site Information (Site {{ site_num }})</h2>
<form method="post">
    <label for="site_name">Name of the site:</label>
    <input type="text" id="site_name" name="site_name" required>
    <label for="location">Location of the site:</label>
    <input type="text" id="location" name="location" required>
    <label for="num_ponds">Number of ponds in this site:</label>
    <input type="number" id="num_ponds" name="num_ponds" required>
    <button type="submit">Next</button>
</form>
{% endblock %}
